<div class="jumbotron mt-4">
	<h1 class="display-4">Notes App Nodejs & MongoDB</h1>
	<p class="lead">
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero nihil
		adipisci similique odit laboriosam! Architecto?
	</p>
	<hr class="my-4" />
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis earum
		rerum enim? Vel dolor minus natus dolorem? Velit, quasi corporis.</p>
	<a href="/" class="btn btn-primary">Ver más</a>
</div>