<div class="d-flex justify-content-between">
    <div>
        <h1>Chat</h1>
    </div>
    <div id="div-compress"></div>
</div>
<div class="mx-auto mt-3">
    <div class="row">
        <div class="col-md-4">
            {{> chat-form}}
        </div>
        <div class="col-md-8">
            <div id="div-chats"></div>
        </div>
    </div>

</div>

