body {
	background-color: #1488cc;
}

/* TOOLTIP STYLES */
[tooltip] {
	position: relative;
}

/* Aplicable a todos los tooltips - Estilos grales */
[tooltip]::before,
[tooltip]::after {
	text-transform: none; /*modificable*/
	font-size: 12px;
	line-height: 20px;
	user-select: none;
	pointer-events: none;
	position: absolute;
	display: none;
	opacity: 0;
}
[tooltip]::before {
	content: "";
	border: 5px solid transparent; /* modificable */
	z-index: 1001;
}
[tooltip]::after {
	content: attr(tooltip);

	/* modificable */
	font-family: Helvetica, sans-serif;
	text-align: center;

	/* 
      Estilos de texto y su caja
      */
	min-width: 3em;
	max-width: 21em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 8px 8px 9px;
	border-radius: 8px;
	box-shadow: 0px 0px 7px rgb(42 42 60 / 20%);
	text-shadow: 0px -1px 0px rgb(0 0 0 / 40%);
	background: #313235;
	color: #fff;
	z-index: 1000;
}

/* Respuesta al hover */
/*
  Para que un padre active el tooltip del hijo poner la clase como está en el h1
    - before responde a la parte inferior del tooltip
    - after responde al globo que contiene el texto
*/
h1:hover [tooltip]::before,
[tooltip]:hover::before,
h1:hover [tooltip]::after,
[tooltip]:hover::after {
	display: block;
}

/* No muestra tooltips vacios */
[tooltip=""]::before,
[tooltip=""]::after {
	display: none !important;
}

/* FLOW: arriba */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
	bottom: 100%;
	border-bottom-width: 0;
	border-top-color: #333;
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
	bottom: calc(100% + 5px);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
	left: 50%;
	transform: translate(-50%, -0.5em);
}

/* FLOW: abajo */
[tooltip][flow^="down"]::before {
	top: 100%;
	border-top-width: 0;
	border-bottom-color: #333;
}
[tooltip][flow^="down"]::after {
	top: calc(100% + 5px);
}
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
	left: 50%;
	transform: translate(-50%, 0.5em);
}

/* FLOW: izquierda */
[tooltip][flow^="left"]::before {
	top: 50%;
	border-right-width: 0;
	border-left-color: #333;
	left: calc(0em - 5px);
	transform: translate(-0.5em, -50%);
}
[tooltip][flow^="left"]::after {
	top: 50%;
	right: calc(100% + 5px);
	transform: translate(-0.5em, -50%);
}

/* FLOW: derecha */
[tooltip][flow^="right"]::before {
	top: 50%;
	border-left-width: 0;
	border-right-color: #333;
	right: calc(0em - 5px);
	transform: translate(0.5em, -50%);
}
[tooltip][flow^="right"]::after {
	top: 50%;
	left: calc(100% + 5px);
	transform: translate(0.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
	to {
		opacity: 0.9;
		transform: translate(-50%, 0);
	}
}

@keyframes tooltips-horz {
	to {
		opacity: 0.9;
		transform: translate(0, -50%);
	}
}

/* Aplicando animaciones a cada FLOW */
h1:hover [tooltip]::before,
[tooltip]:not([flow]):hover::before,
h1:hover [tooltip]::after,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
	animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
	animation: tooltips-horz 300ms ease-out forwards;
}

/* TABLA DE PRODUCTOS */
.thead-cart {
	background: #cc5814;
}

.thead-cart th {
	border: none;
	padding: 30px;
	font-size: 13px;
	font-weight: 500;
	color: white;
}

.tr-cart td {
	border: none;
	padding: 30px;
	font-size: 14px;
	background: #fff;
	border-bottom: 4px solid #f8f9fd;
	vertical-align: middle;
}

.product-info span {
	display: block;
	font-weight: 600;
}

.td-quantity {
	width: 10%;
}

.delete-product {
	padding: 0;
	background-color: transparent;
	border: 0;
}

.delete-product i {
	font-size: 20px;
	color: #cc5814;
}

.td-image {
	height: 147px;
	width: 147px;
	background-position: center center;
	background-size: contain;
}
