<div class="card p-2">
	<div class="form-group d-grid gap-2">
		<input
			type="email"
			name="email"
			placeholder="Email"
			id="email"
			class="form-control py-2"
		/>
		<input
			type="text"
			name="name"
			placeholder="Name"
			id="name"
			class="form-control py-2"
		/>
		<input
			type="text"
			name="surname"
			placeholder="Surname"
			id="surname"
			class="form-control py-2"
		/>
		<div class="d-flex gap-2">
			<input
				type="number"
				name="age"
				placeholder="Age"
				id="age"
				class="form-control py-2"
			/>
			<input
				type="text"
				name="nickname"
				placeholder="Nickname"
				id="nickname"
				class="form-control py-2"
			/>
		</div>
		<input
			type="text"
			name="avatar"
			placeholder="Avatar"
			id="avatar"
			value="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
			class="form-control py-2"
		/>
		<textarea
			type="text"
			name="text"
			placeholder="Message"
			id="msg-box"
			class="form-control py-2"
		></textarea>
		<div class="text-center">
			<button class="btn btn-primary w-100" id="sendMessage">
				Send
			</button>
		</div>
	</div>
</div>