{{#if success_msg}}
	<div
		class="alert alert-success alert-dismissible fade show rounded"
		role="alert"
	>
		{{success_msg}}
	</div>
{{/if}}

{{#if error_msg}}
	<div
		class="alert alert-danger alert-dismissible fade show rounded"
		role="alert"
	>
		{{error_msg}}
	</div>
{{/if}}