<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{{! Bootstrap }}
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cosmo/bootstrap.min.css"
		/>
		{{! Font Awesome }}
		  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		{{! Custom CSS }}
		<link rel="stylesheet" href="/css/main.css" />
		<title>Notes App</title>
	</head>
	<body>
        
        {{>navigation}}

        <main class="container p-5">
			{{>errors}}
			{{>messages}}
            {{{body}}}
        </main>

		{{! Bootstrap  }}
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
		></script>
	</body>
</html>